
<form method="post" asp-action="Search" asp-controller="Car">
    <label for="year">Year</label>
    <input type="number" name="year" />
    <br />

    <label for="make">Make</label>
    <input type="text" name="make" />
    <br />

    <label for="model">Model</label>
    <input type="text" name="model" />
    <br />

    <label for="color">Color</label>
    <input type="text" name="color" />
    <br />

    <input type="submit" />
</form>
